<!DOCTYPE html>
<html lang="en">

{% include 'Book/head.html' %}

<body>

{% include 'Book/header.html' %}

  <!-- Section: intro -->
  {% if flag == "3" %}
  <script>alert("借书成功")</script>
      {% elif flag == "1" %}
      <script>alert("还书成功")</script>
  {% endif %}

  <section id="intro" class="intro">
    <div class="slogan">
      <h1>中南大学极光网安实验室书籍借阅系统</h1>
        <p style="color: #ac2925;font-size: x-large"><b>Read only for you</b></p>
      <a href="/book/borrow/" class="btn-lg btn-info scroll">我要借书</a>
        <a href="/book/returning/" class="btn-lg btn-skin scroll">我要还书</a>
    </div>
  </section>
  <!-- /Section: intro -->

{% include 'Book/footer.html' %}

{% include 'Book/script.html' %}

</body>

</html>