<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                  <li>
                                    <a class="gn-icon gn-icon-download" href="{% url 'searchbook' %}">书籍查询</a>
                                  </li>
{#                                  <li><a class="gn-icon gn-icon-cog">好</a></li>#}
                                  <li><a class="gn-icon gn-icon-archive" href="{% url 'manual' %}">帮助手册</a></li>
{#                                  <li>#}
{#                                    <a class="gn-icon gn-icon-help">用户反馈</a>#}
{#                                  </li>#}
                                  <li><a class="gn-icon gn-icon-cog">功能待完善...</a></li>
                            </ul>
                        </div>
                    </nav>
                </li>
                <li><a href="/">Aurora</a></li>
                <li class="hidden-xs">
                <ul class="company-social">
                  <li class="social-facebook"><a><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a><i class="fa fa-twitter"></i></a></li>
                  <li class="social-dribble"><a><i class="fa fa-dribbble"></i></a></li>
                  <li class="social-google"><a><i class="fa fa-google-plus"></i></a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</div>