<!DOCTYPE html>
<html lang="en">

{% include 'Book/head.html' %}

<body>

{% include 'Book/header.html' %}
<br>
<br>
<br>
<br>
<ul class="breadcrumb">
	<b>>  </b><li><a href="/">主页</a></li>
	<li class="active">帮助手册</li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
            <ul class="text-info">
				<li>
					<h2>
						<em>本系统目前仅供极光网安实验室师生使用</em>
					</h2>
				</li>
				<li>
					<h2>
						<em>使用指南</em>
					</h2>
				</li>
			</ul>
			<p class="text-info">
			</p>
			<h2>
				<em>如果您是普通用户：</em>
			</h2>
			<h2>
				<em>借书：</em>
			</h2>
			<h2>
				<em>1. 请如实输入您的学号、姓名、联系电话及需借阅的书籍名称</em>
			</h2>
			<h2>
				<em>2. 取走书籍 完成借阅</em>
			</h2>

			<h2>
				<em>还书：</em>
			</h2>
			<h2>
				<em>1. 在规定期限内将书籍归还至实验室</em>
			</h2>

			<h2>
				<em>如果您是管理员：</em>
			</h2>
			<h2>
				<em>还书：</em>
			</h2>
			<h2>
				<em>1. 使用管理员账号登入系统</em>
			</h2>
			<h2>
				<em>2. 查看后台记录 找到对应书籍借阅人的学号</em>
			</h2>
			<h2>
				<em>3. 输入已归还书籍名称及借阅人学号</em>
			</h2>
			<h2>
				<em>4. 还书完成</em>
			</h2>

			<h2>
				<em>管理：</em>
			</h2>
			<h2>
				<em>如需进行手册更新、书籍更新、反馈处理、日志查看等操作，请在使用管理员账号登入系统后，点击页面相关功能</em>
			</h2>
			<ul class="text-info">
				<li>
					<h2>
						<em>注意事项</em>
					</h2>
				</li>
			</ul>
			<h2>
				<em>1. 管理员应及时登记已归还书籍</em>
			</h2>
			<h2>
				<em>2. 如有逾期未归还书籍，系统将不再允许该用户继续借阅</em>
			</h2>
			<h2>
				<em>3. 如书籍污损、丢失，借阅人应进行相应的赔偿</em>
			</h2>
			<h2>
				<em>4. 更多问题可登记反馈或联系管理员</em>
			</h2>
			<ul class="text-info">
				<li>
					<h2>
						<em>更多帮助点击<em style="color: red">这里</em></em>
					</h2>
				</li>
			</ul>
		</div>
    </div>
</div>

{% include 'Book/footer.html' %}
{% include 'Book/script.html' %}

</body>

</html>