<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/gnmenu.js"></script>
<script src="/static/js/jquery.scrollTo.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/stellar.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/contactform/contactform.js"></script>